<div class="container">
  <div class="row" >
    <div *ngFor="let planet of planets">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <div class="card-block">
            <h4 class="card-title">{{ planet.name }}</h4>
            <p class="card-text">{{ planet.rotation_period }}</p>
            <p class="card-text">{{ planet.orbital_period }}</p>
            <p class="card-text">{{ planet.diameter }}</p>
            <p class="card-text">{{ planet.climate }}</p>
<!--            <p class="card-text">{{ planet.gravity }}</p>-->
            <p class="card-text">{{ planet.terrain }}</p>
<!--            <p class="card-text">{{ planet.surface_water }}</p>-->
            <p class="card-text">{{ planet.population }}</p>
            <a href="#" class="btn btn-primary">Hello!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12"><button class="btn btn-secondary" (click)="loadPlanets()">Click here!</button></div>
  </div>
</div>
