<div class="container">
  <!-- Navbar -->
  <div class="navbar">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2">Bootstrap</div>
          <div class="col-sm-2">Documentation</div>
          <div class="col-sm-2">Examples</div>
          <div class="col-sm-2">Themes</div>
          <div class="col-sm-2">Expo</div>
          <div class="col-sm-2">Blog</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div style="text-align:center" class="body">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">B</div>
      </div>

      <div class="row">
        <div class="col-sm-12">Bootstrap is the most popular HTML, CSS, and JS
        </div>
        <div class="col-sm-12">framework for developing responsive, mobile first projects on the web.
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">Download Bootstrap</div>
      </div>
    </div>
  </div>
</div>
